<div class="address-search">
  <label>Search for an Address:</label>
  <input
    type="text"
    class="address-search"
    (input)="searchAddressEntries($event)"
  />
</div>

<table class="address-book">
  <thead>
    <tr>
      <ng-container *ngFor="let column of tableColumns">
        <th
          *ngIf="column.name !== 'options'"
          class="column-header"
          [class.sort-column]="column.name === sortColumn"
          (click)="sortAddressEntries(column.name)"
        >
          {{ column.label }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of filteredAddressEntries">
      <td>{{ address.firstName }}</td>
      <td>{{ address.lastName }}</td>
      <td>{{ address.phoneNumber }}</td>
      <td>
        <button (click)="removeAddress(address)">Remove</button>
      </td>
    </tr>
    <tr *ngIf="!filteredAddressEntries.length">
      No Addresses were found.
    </tr>
    <tr [formGroup]="newAddressForm">
      <td *ngFor="let column of tableColumns">
        <ng-container *ngIf="column.name !== 'options'">
          <label [for]="column.name"></label>
          <input
            type="{{ column.type }}"
            [formControlName]="column.name"
            [class.invalid]="
              newAddressForm.get(column.name)?.invalid &&
              newAddressForm.get(column.name)?.touched
            "
            placeholder="Enter {{ column.label }}"
          />
          <div
            *ngIf="
              newAddressForm.get(column.name)?.touched &&
              newAddressForm.get(column.name)?.invalid
            "
          >
            <ng-container *ngIf="newAddressForm.get(column.name)?.errors">
              <!-- This can be expanded to handle proper validation messages -->
              <span style="color: red"
                >Please enter a valid {{ column.label }}.</span
              >
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="column.name === 'options'">
          <input
            type="submit"
            value="Add"
            [disabled]="newAddressForm.invalid"
            (click)="addAddress()"
          />
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<div class="address-pagination">
  <div class="page-size-selector">
    <label>Page size:</label>
    <select
      name="page-size"
      (change)="changeAddressPaging(1, $event.target.value)"
    >
      <option *ngFor="let size of pageSizes">{{ size }}</option>
    </select>
  </div>
  <div class="page-selector">
    <label>Page:</label>
    <select
      name="current-page"
      (change)="changeAddressPaging($event.target.value, pageSize)"
    >
      <option *ngFor="let page of totalPages">{{ page }}</option>
    </select>
  </div>
</div>
